/* varaible */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);

  --color-background: var(--color-stone-100);
  --color-bg-recipe: var(--color-white);
  --color-text: var(--color-stone-600);
  --color-box-img: var(--color-white);

  --font-family-young-serif: "Young Serif", sans-serif;
  --font-family-outfit: "Outfit", sans-serif;

  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}

body {
  font-size: 16px;
  font-family: var(--font-family-outfit);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
  width: 720px; /* or any width you prefer */
  margin: 10% auto;
  height: 100%;
  @media (width: 375px) {
    margin: 0;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: 15px;
  gap: 20px;
  position: relative;
}
img {
  width: 100%;
  border-radius: 10px;
}
.recipe__title {
  font-size: 40px;
  font-family: var(--font-family-young-serif);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-stone-900);
}
.recipe__description {
  padding-right: 20px;
}
/* preparation */
.recipe__preparationTime {
  background-color: var(--color-rose-50);
  width: 100%;
  border-radius: 15px;
  padding: 20px;
}
.recipe__preparationTime-title {
  color: var(--color-rose-800);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  font-family: var(--font-family-outfit);
}
.recipe__preparationTime ul {
  margin-left: 20px;
  font-size: 16px;
}
.recipe__preparationTime li {
  padding-top: 20px;
  padding-left: 10px;
}
.recipe__preparationTime ul li::marker {
  font-size: 16px;
  color: var(--color-rose-800); /* Set the color of the list marker */
}

.words__strone900 {
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-stone-600);
}
/* ingredients */
.recipe__ingredients,
.recipe__instructions {
  width: 100%;
  border-bottom: 1px solid var(--color-stone-150);
}
.recipe__ingredients-title,
.recipe__instructions-title,
.recipe__nutrition-title {
  color: var(--color-brown-800);
  font-weight: var(--font-weight-bold);
  font-size: 22px;
  font-family: var(--font-family-outfit);
}
.recipe__ingredients-title,
.recipe__instructions-title,
.recipe__nutrition-title::first-letter {
  font-family: var(--font-family-young-serif);
}
.recipe__ingredients ul {
  padding: 20px;
}
.recipe__ingredients ul li::marker {
  font-size: 16px;
  color: var(--color-brown-800); /* Set the color of the list marker */
}
.recipe__ingredients li,
.recipe__instructions li {
  padding: 5px 15px;
}
/* instructions */
.recipe__instructions ol {
  margin: 20px;
}
.recipe__instructions ol li::marker {
  color: var(--color-brown-800); /* Set the color of the list marker */
  font-weight: var(--font-weight-bold);
}

/* nutrition */
.recipe__nutrition {
  width: 100%;
}
.recipe__nutrition-description {
  margin: 15px 0;
}
.recipe__nutrition ul {
  list-style: none;
}
.recipe__nutrition li {
  padding: 10px 15px 10px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--color-brown-800);
  font-weight: var(--font-weight-semi-bold);
}

.recipe__nutrition li span {
  color: var(--color-stone-600);
  font-weight: var(--font-weight-regular);
}
.recipe__nutrition li:not(:last-of-type) {
  border-bottom: 2px solid var(--color-stone-150);
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: -15px;
  right: 50%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
